@import 'includes/reset'
@import 'includes/class'
@import 'includes/main'
@import 'includes/colors'
@import 'includes/sweetAlert'

@import 'elements/Settings'
@import 'elements/sidebar'
@import 'elements/SongRow'
@import 'elements/footer'
@import 'elements/topMessage'
@import 'elements/dragBar'
@import 'elements/AlbumDisplay'
@import 'elements/noCredentials'
@import 'elements/AlbumView'
@import 'elements/LoadingAnimation'