.footer
	position: absolute;
	bottom: 0;
	z-index: 5;
	width: 100%;
	background-color: #2d2d2f;
	height: 70px;
	left: 0;
	overflow: hidden;


	.playPauseButton
		height: 80%;
		margin-top: 7.5px;
		// -webkit-filter: invert(50%);
		width: 60px;
		display: inline-block;
		-webkit-filter: grayscale(100%);
		transition: -webkit-filter 0.2s

		div
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;

		//Icons made by "http://www.freepik.com" and is licensed by CC 3.0
		.play
			background-image: url('assets/images/playIcon.png');
			background-size: 90%;

		//Icons made by "http://www.freepik.com" and is licensed by CC 3.0
		.pause
			background-image: url('assets/images/pauseIcon.png');
			background-size: 90%;

		&:hover
			-webkit-filter: grayscale(0%);

	.nextSong, .previousSong
		height: 80%;
		margin-top: 7.5px;
		// -webkit-filter: invert(50%);
		width: 20px;
		display: inline-block;
		-webkit-filter: grayscale(100%);
		transition: -webkit-filter 0.2s
		div
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			//Icons made by "http://www.freepik.com" and is licensed by CC 3.0
			background-image: url('assets/images/nextIcon.png');
			background-size: 100%;
			&[disabled]
				opacity: 0.2;

		&:hover
			-webkit-filter: grayscale(0%);

	.previousSong
		margin-left 10px
		transform: rotateY(180deg)


	.seekerArea
		display: inline-block;
		cursor: pointer;
		width: 65%;
		left: 75px;
		bottom: 20px;
		position: relative;
		background-color: #000;
		height: 20px;
		.seeker
			display: block;
			height: 20px;
			background-color: mainColor;
			z-index: 10;
			width: 90%;

	.timeStamp
		display: inline-block;
		color: mainColor;
		position: relative;
		left: 80px;
		bottom: 25px;

	.volumeArea
		position: relative;
		cursor: pointer;
		width: 17%;
		right: 10px;
		top: 24px;
		float: right;
		background-color: #000;
		height: 20px;
		.volumeBar
			display:block;
			height:20px;
			background-color: mainColor;
			z-index:10;
			width: 90%;
