.sidebar
	width: 200px
	background-color: #2D2D2F
	box-shadow: #1f1f1f 2px 2px 4px
	bottom: 70px

	.sidebarTitle
		font-size: 24px
		text-align: center
		color: mainColor
		margin: 5px 0

	.defaultPlaylists, .playlists
		display: flex;
		flex-direction: column;
		.title
			font-size: 22px;
			text-align: center;
			color: mainColor;
			margin: 5px 0;
		a
			background-color #28282A
			text-align center
			button
				background-color: #28282A;
				color: white;
				font-size: 14px;
				border: 0
				outline 0
				padding: 10px;
				font-family: Helvetica;
				transition all 0.2s
				&:hover
					background-color darken(#28282A, 10%)
					color: mainColor;
		.currentPlaylist
			border-left: 3px solid #ffa500;
			padding-left: 7px;

	.settings
		text-align: center
		width: 100%
		position: absolute
		bottom: 0
		.cogWrapper
			position: relative
			width: 100%
			background-color: #616161
			padding-top: 5px
			transition: background-color 0.2s

			&:hover
				background-color: mainColor
				cursor: pointer
				transition: background-color 0.2s
				img
					animation spin1 3s infinite linear
					transform-origin 50% 50%
					width 32px
					height 32px

@keyframes spin1
	0% {
		transform rotate(0deg)
	}

	100% {
		transform rotate(360deg)
	}

