//TODO: Rewrite SongRow component and this stylus file to be more organized and easy to understand

@keyframes color_change {
	from { color: mainColor }
	to { color: #808080 }
}
.songRowWrapper
	.songRowHeaders
		width: 100%;
		height: 35px;
		min-width: 800px;
		div
			padding: 10px 0;
			position: relative;
			display: inline-block;
			color: white;
	.playlistHeaders
		.song
			left 15%
			width 29%
		.artist
			left 16%
			width 29%
		.album
			left 17%
			width 24%
	.albumHeaders
		.albumTrackNumber
			left 5%
			width 2%
		.song
			left 5%
			width 71%
		.time
			left 19%
			width 5%
	.songs
		min-width 800px
		color white
		a
			color inherit
		.song
			border-bottom: 1px solid #3C3C3C;
			transition: background-color 0.3s;
			height: 40px;
			line-height: 40px;
			.favSong
				background-image: url('assets/images/plusIcon.png');
				width: 32px;
				background-size: 90%;
				height: 32px;
				background-repeat: no-repeat;
				-webkit-filter: grayscale(100%)
				position: absolute;
				margin: 5px 15px;
				transition: 0.2s transform;
				&:hover
					-webkit-filter: grayscale(0%)

				&.favorited
					transform: rotateZ(45deg);

			.songWrapper
				position relative
				height 40px
				display inline-block
				div
					overflow hidden
					white-space nowrap
					text-overflow ellipsis
					display inline-block
					max-width 100%

			.playlistTitleWrapper
				left: 15%;
				width 29%

			.playlistArtistWrapper
				left: 16%;
				width 29%

			.playlistAlbumWrapper
				left: 17%;
				width 24%

			.albumTrackWrapper
				left: 5%;
				width 2%

			.albumTitleWrapper
				left: 5%;
				width 71%

			.albumDurationWrapper
				left: 19%;
				width 5%

			.songArtist:hover, .songAlbum:hover
				color: secondaryColor;
				cursor: pointer;


			//div
			//	display: inline-block;
			//	width: 30%;
			//	vertical-align: middle;
			//	overflow hidden
			//	text-overflow: ellipsis;
			//	white-space: nowrap;

			&:first-child
				border-top: 1px solid #3C3C3C;


			&:hover
				background-color: #10719E;
				transition: background-color 0.2s;

			&.playingNow
				color: mainColor



			&.loadingNow
				animation: color_change .5s infinite alternate;
