table 
	width: 99%;
	margin: 0 auto;
	color: white;
	text-align: center;
	border-collapse: collapse;

	th 
		color: gray;
		padding-bottom: 5px;


	.song 
		border-bottom: 1px solid #3C3C3C;
		transition: background-color 0.3s;


		&:first-child 
			border-top: 1px solid #3C3C3C;
		

		&:hover 
			background-color: #8B8B8C;
			transition: background-color 0.2s;
	

	td 
		padding: 10px 0 10px;
	