.headers 
	width: 99%;
	text-align: center;
	margin: 0 auto;
	height 35px
	div
		color: gray;
		padding: 10px 0;
		float: left;
		width: 33%;

.songs
	width: 99%;
	margin: 0 auto;
	color: white;
	text-align: center;


	.song 
		border-bottom: 1px solid #3C3C3C;
		transition: background-color 0.3s;
		padding: 10px 0 10px;
		height 20px

		div:first-child
			background-image: url('assets/Images/plusIcon.png');
			width: 32px;
			background-size: 90%;
			height: 32px;
			background-repeat: no-repeat;
			position: relative;
			left: 5px;
			bottom: 5px;
			-webkit-filter: grayscale(100%)
			&:hover
				-webkit-filter: grayscale(0%)
			
			&.favorited
				transform: rotateZ(45deg);

		div:nth-child(2)
			text-align: left;
			position: relative;
			left: 25px;

		div
			float: left;
			width: 30%;

		&:first-child 
			border-top: 1px solid #3C3C3C;
		

		&:hover
			background-color: #10719E;
			transition: background-color 0.2s;
			
		&.playingNow
			color: #03A9F4