.main 
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 70px;
	overflow: hidden;
	-webkit-user-select: none;

.wrapper 
	background-color: #252527;
	min-height: 100%;
	overflow hidden



