.hidden {
	display: none;
}

.main {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 70px;
	overflow: hidden;
}

.sidebar{
	width: 200px;
	background-color: #2D2D2F;
	box-shadow: #1f1f1f 2px 2px 4px;
	bottom: 70px;
}

.sidebarTitle{
  font-size: 24px;
  text-align: center;
  color: #03A9F4;
  margin-top: 5px;
}

.settings {
	text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.settings .cogWrapper {
	position: relative;
	width: 100%;
	background-color: #616161;
	padding-top: 5px;
	transition: background-color 0.2s;
}

.settings .cogWrapper:hover {
	background-color: #03A9F4;
	cursor: pointer;
	transition: background-color 0.2s;
}
.settings .cogWrapper img {
	width: 32px;
}

.wrapper {
	background-color: #252527;
	height: 100%;
}

table {
	width: 99%;
	margin: 0 auto;
	color: white;
	text-align: center;
	border-collapse: collapse;
}
th {
	color: gray;
	padding-bottom: 5px;
}

.song {
	border-bottom: 1px solid #3C3C3C;
	transition: background-color 0.3s;
}

.song:first-child {
	border-top: 1px solid #3C3C3C;
}

.song:hover {
	background-color: #8B8B8C;
	transition: background-color 0.2s;
}

td {
	padding: 10px 0 10px;
}


.footer{
	position: absolute;
	bottom: 0;
	z-index: 5;
	width: 100%;
	background-color: #2d2d2f;
	height: 70px;
	left: 0;
	overflow: hidden;
}

.footer .playPauseButton {
	height: 80%;
	margin-left: 7.5px;
	margin-top: 7.5px;
	-webkit-filter: invert(50%);
	width: 60px;
}

.footer .playPauseButton div {
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.footer .playPauseButton .play {
	background-image: url(http://image005.flaticon.com/1/svg/142/142457.svg);
}

.footer .playPauseButton .pause {
	background-image: url(http://image005.flaticon.com/1/svg/142/142460.svg);
}

.footer .playPauseButton:hover {
	-webkit-filter: invert(100%);
}
